POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=root_password

DB_URL=jdbc:postgresql://db-sudolife:5432/sudolife_db
DB_NAME=sudolife_db
DB_USER=sudolife_app
DB_PASSWORD=db_secret_password

API_SECURITY_TOKEN_SECRET=
API_SECURITY_TOKEN_ISSUER=sudolife-api
API_SECURITY_TOKEN_EXPIRATION_MINUTES=120

STRAVA_CLIENT_SECRET=client_secret_strava

DOCKER_USER=secret_user
DOCKER_PWD=secret_pwd
