POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=postgres

DB_URL=jdbc:postgresql://db-sudolife:5432/sudolife_db
DB_USER=sudolife_app
DB_PASSWORD=sudolife_app

API_SECURITY_TOKEN_SECRET=local-development-token-secret
API_SECURITY_TOKEN_ISSUER=sudolife-api
API_SECURITY_TOKEN_EXPIRATION_MINUTES=120

DOCKER_USER=
DOCKER_PWD=
